<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">
    <script src="{{ url_for('static', filename='JS/home.js') }}" defer></script>
    <title>Página Inicial - The Book Club</title>
</head>
<body>
    <header>
        <h1>The Book Club</h1>
    </header>
    <div class="container">
        <h2>Bem-vindo ao Clube do Livro!</h2>

        <!-- Seção de Salas -->
        <section class="rooms-section reveal">
            <h3>Minhas Salas</h3>
            <ul>
                {% for sala in salas %}
                <li><a href="{{ url_for('room', sala_id=sala['id']) }}">{{ sala['nome'] }}</a></li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('create_room') }}" class="create-room-link">Criar uma Sala</a>
        </section>

        <!-- Seção de Acervo de Livros -->
        <section class="books-section reveal hidden">
            <h3>Acervo de Livros</h3>
            <ul>
                {% for livro in livros %}
                <li class="book-item">
                    <div class="book-image">
                        {% if livro['capa'] %}
                        <img src="{{ url_for('static', filename='imagens/' ~ livro['capa']) }}" alt="Capa do Livro">
                        {% else %}
                        <img src="{{ url_for('static', filename='imagens/default.jpg') }}" alt="Capa do Livro">
                        {% endif %}
                    </div>
                    <div class="book-details">
                        <h4>{{ livro['titulo'] }}</h4>
                        <p>Autor: {{ livro['autor'] }}</p>
                        <p>Gênero: {{ livro['genero'] }}</p>
                        <p>Pais de Origem: {{ livro['pais_origem'] }}</p>
                        <p>Quantidade de Páginas: {{ livro['quantidade_paginas'] }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</body>
</html>
